@font-face {
	font-family: 'coolvetica italic';
	src: url('Coolvetica Rg It.eot');
	src: url('Coolvetica Rg It.eot?#iefix') format('embedded-opentype');
}.container-fluid .Cool.title .cool.header {
	font-family: "Coolvetica Rg";
	text-align: center;
}
.container-fluid .herosection-welcome .theoneabovejejak {
	font-family: "Coolvetica Rg";
	text-align: center;
	color: #000000;
	font-size: xx-large;
}
.container-fluid .herosection-welcome .coolsection {
	z-index: -1;

}
.herosection-welcome .Cool.title .cool.header {

}
.container .side-banner.left-banner img {
}
.container .side-banner.right-banner img {
	width: 400px;
	height: 600px;
	right: 50px;
}
.container .side-banner.left-banner img {
	width: 400px;
	height: 600px;
	left: 50px;
}

.container .side-banner.right-banner img {
}

